<p>edit article page</p>
 <%= simple_form_for([@category, @article]) do |f| %>
    <%= f.input :title %>
    <%= f.input :meta_title %>
    <%= f.input :summary %>
    <%= f.input :content %>
    <%= f.input :slug %>
    <%= f.submit "Update Article" %>
  <% end %>
