<p>articles index</p>
<%= link_to "create article", new_article_path %>
<% @articles.each do |article| %>
  <%= article.title %> |
  <%= article.summary %>  |
  <%= link_to "show this article", article_path(article) %>
  <%= link_to "edit", edit_article_path(article) %>
  <%= link_to "destroy", article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<%= link_to "home page", root_path %>
