<p>articles index</p>
<%= form_with url: category_articles_path(@category), method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an article"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @articles.each do |article| %>
  <%= article.title %> |
  <%= article.summary %>  |
<% end %>
<%= link_to "home page", root_path %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div id='map' style='width: 400px; height: 300px;'></div>
