<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= form_with url: posts_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a post"
  %>
  <% end %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<%= link_to "home", root_path %>
<%= link_to "New post", new_post_path if policy(Post).new? %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
