<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<% if user_signed_in? %>
  <% if @post.liked?(current_user) %>
    <%= button_to "Like", like_path(@post), method: "put", disabled: true %>
  <% else %>
    <%= button_to "Like", like_path(@post), method: "put" %>
  <% end %>
<% end %>
