<p style="color: green"><%= notice %></p>

<%= render @post %>

<% if policy(@post).edit? %>
  <%= link_to "Edit this post", edit_post_path(@post) %>
<% end %>

<%= link_to "Back to posts", posts_path %>
<%= button_to "Destroy this post", @post, method: :delete if policy(@post).destroy? %>
<%= link_to "Comment on this post", new_post_remark_path(@post) %>
<%= link_to "home", root_path %>

<% if user_signed_in? %>
  <% @remarks.each do |remark| %>
    <%= link_to "edit this remark", edit_post_remark_path(@post, remark) if (current_user.id == remark.user_id) || (current_user.admin?) %>
    <%= remark.title %>
    <%= link_to "destroy this remark", post_remark_path(@post, remark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} if (current_user.id == remark.user_id) || (current_user.admin?) %>
    <%= remark.title %>
  <% end %>
<% end %>
