 <p>category index</p>
 <%= link_to "new category", new_category_path %>
<% @categories.each do |category| %>
  <%= category.title %>
  <%= category.content %>
  <%= link_to "show", category_path(category) %>
  <%= link_to "edit this category", edit_category_path(category) %>
  <%= link_to "delete this category", category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
