<div id="<%= dom_id remark %>">
  <p>
    <strong>Title:</strong>
    <%= remark.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= remark.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= remark.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= remark.post_id %>
  </p>

</div>
