<p style="color: green"><%= notice %></p>

<%= render @remark %>

<div>
  <%= link_to "Edit this remark", edit_remark_path(@remark) %> |
  <%= link_to "Back to remarks", remarks_path %>

  <%= button_to "Destroy this remark", @remark, method: :delete %>
</div>
